#mainRPS {
    background-image: url('../images/16525509184_ba0e90419f_c.jpg');
    width: 65vh;
    height: 60vh;
    background-repeat: no-repeat;
    margin: auto;
    align-content: center;
}

#field1, #field2 {
    width: 60vh;
    height: 20vh;
    margin: auto;
    align-content: center;
}

#p1, #p2 {
    margin-left: 12vh;
}

#p1 img , #p2 img{
    width: 12vh;
    height: 14vh;
    padding: 2%;
}
#p1 img:hover,
#p2 img:hover {
    border: 1px solid green;
}

#rps h1{
    color: black;
    padding-top: 1%;
}
#win {
    color: rgb(134, 18, 18);
    padding-left: 25vh;
    font-size: 1.5em;
}
#stats {
    color: navy;
    padding-left: 15vh;
    font-size: 1em;
}
#scissor2,
#rock2,
#paper2 {
    cursor:pointer;
}

@media screen and (max-width: 660px) {
    #mainRPS {
        width: 45vh;
        height: 75vh;

    }
    
    #field1, #field2 {
        width: 40vh;
        height: 20vh;

    }
    
    #p1, #p2 {
        margin-left: 0;
    }
    
    #p1 img , #p2 img{
        width: 11vh;
        height: 14vh;
        padding: 0;
    }
    #win {
        padding-left: 15vh;
    }
    #stats {
        padding-left: 5vh;
    }

}
