:root{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

#gdBody{
    background-color: rgb(217, 217, 248);
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gdPage{
    grid-column: 1/3;
    grid-row: 1/2;
    background: rgb(195,50,34);
    background-image: url(../images/fromPhotosforClass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.gdPage h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
    color: brown;
    font-weight: bold;
    text-shadow:   4px 4px 4px rgb(255, 255, 255),
                   5px 5px 5px black;
    -webkit-text-stroke: 1px white;
}

.sectionGroup h2{
    font-size: 2em;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    color: rgb(255, 255, 255);
    text-shadow:   2px 2px 2px navy;
}

a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

strong{
    font-weight: bolder;
    color: white;
}
nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

/* flex container */
.grid{
    display: grid;
    grid-template-columns: 20% 80%; 
    /*grid-template-rows: 200px 100px 1fr 1fr 1fr 4fr 1fr 4fr 1fr 1fr;*/
    grid-template-rows: none;
    grid-gap: 0.5em;

}

.grid>*{
    background-color: #cccccc;
    color: rgba(7,7,251,1);
    padding: 2.5em;
    border-radius: 0.5px;
    grid-gap: 0.5em;
}

#top{
    background-color: #BD9A56;
    grid-column: 1/2;
    grid-row: 2/4;
    padding: 1em;
	border-radius: 2em;
}

#intro{
    background-color: rgb(141, 124, 166);
    color: rgb(236, 240, 236);
    grid-column: 2/3;
    grid-row: 2/4;
	border-radius: 2em;
}

#gallery{
    background-color:brown;
    color: rgb(236, 240, 236);
    grid-column: 1/3;
    grid-row: 4/5;
	border-radius: 2em;
}

#photo1{
    background-color: #2b677a;
    color: rgb(236, 240, 236);
    grid-column: 1/3;
    grid-row: 5/6;
	border-radius: 2em;
}

#photo2{
    background-color: #2b677a;
    color: rgb(236, 240, 236);
    grid-column: 1/3;
    grid-row: 6/7;
	border-radius: 2em;
}

#photo3{
    background-color: #2b677a;
    color: rgb(236, 240, 236);
    grid-column: 1/3;
    grid-row: 7/8;
	border-radius: 2em;
    /* margin-bottom: 1.5em; */
}

#photo4{
    background-color: #2b677a;
    color: rgb(236, 240, 236);
    grid-column: 1/3;
    grid-row: 8/9;
	border-radius: 2em;
}

#photo5{
    background-color: #2b677a;
    color: rgb(236, 240, 236);
    grid-column: 1/3;
    grid-row: 9/10;
	border-radius: 2em;
}

#aboutME{
    background-color: #B79D82;
    color: white;
    grid-column: 1/3;
    grid-row: 10/11;
	border-radius: 2em;
}

/* set <ul> as container inside of nav and as flex parent */
.flex_nav{
    display: flex;
    margin-top: 5%;
    background-color: #434D6E;
    list-style-type: none;
    border-radius: 1em;
}

.flex_nav li{
    margin-top: 0;
}

.flex_nav li a{
    display: inherit;
    padding: .2em .3em;
    /* background-color: rgba(255, 255, 255, 0.705); */
    color: white;
    text-decoration: none;
}

.flex_nav a:link { color: white; }
.flex_nav a:visited { color: rgb(29, 173, 10) }
.flex_nav a:hover { 
    color: rgba(136, 10, 161, 0.774); 
    text-shadow: 1px 1px 1px white;
}
.flex_nav a:active { color: white; }

/* photo pictures */
.pic{
    display: grid;
    grid-template-columns: repeat(3, minmax(13%, 1fr));
    /*grid-auto-rows: 100%;*/
    grid-gap: 1em;
}

.pic > figure{
    margin: 0;
    /* setup a flex container*/
    display: flex;
    flex-direction: column;
}

.pic img{
    max-width: 100%;
    flex: auto;
    object-fit: none;
}

.pic figcaption{
    max-width: 100%;
    padding: .3em .8em;
    background-color: rgb(0, 23, 100);
    color: white;
    text-align: center;
}

/* gallery nested grid--from CSS in Depth*/

.gal{
    display: grid;
    grid-template-columns: repeat(5, minmax(13%, 1fr));
    grid-auto-rows: 100%;
    grid-gap: 1em;
}

.gal a > figure{
    margin: 0;
    /* setup a flex container*/
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 94, 148);
    height: 100%; 
}

.gal a img{
    max-width: 100%;
    flex: auto;
    object-fit: contain; 
}

.gal a figcaption{
    padding: .3em .8em;
    background-color: rgb(81, 94, 148);
    color: white;
    text-align: right;
}

.webMaster{
    font-size: .8em;
}

.headerImg, .headerImg a{
    font-size: .8em;
    font-style: italic; 
}

.picGroup [data-scroll] {
    opacity: 0;
    transition: all 3s;
}

.picGroup[data-scroll='in'] {
    opacity: 1;
    transform: translateY(-30px);
}

.sectionGroup [data-scroll]
 {
    opacity: 0;
    transition: all 1s;
  }

.sectionGroup[data-scroll="in"]
{
    opacity: 1;
    transform: translateY(-50px);
}

.flex_nav .hamIcon {
    display: none;

}

  /* Responsive */
/* screens less than 600 pixels wide */
@media screen and (max-width: 1000px) {
    .flex_nav li a{display: none;}
    .flex_nav  {background-color: unset;}
    .flex_nav a.hamIcon {
      float: right;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      transform: translate(-0.5em, 1.5em);
      font-size: 1.4em;
    }

    .flex_nav ul {
        padding: unset;
        z-index: 2;
    }
    .gdPage {
        height: 200px;
    }
    .gdPage h1 {
        font-size: 2.1em;
        padding-top: 0;

    }
    #top{
        grid-column: unset;
        grid-row: unset;
        background-color: unset;
    }
    #intro{
        grid-column: 1/3;
        z-index: 2;
    }
    .pic, .gal{
        grid-template-columns: 1fr;
        grid-auto-rows: unset;
        padding-top: 0.5em;
    }
   
    .pic img{
        object-fit: fill;
        max-height: 50%;
        width: auto;
    }
    .pic figcaption, .gal a figcaption {
        font-size: 1.2 em;
    }
    
}

@media screen and (max-width: 1000px) {
    .flex_nav.responsive {
        position: relative;
    }
    .flex_nav.responsive a.hamIcon {
      position: absolute;
      float: right;
      display: block;
      top: 0;
      right: 0;
      transform: translate(0, 0.5em);
    }
    .flex_nav.responsive li a {
      float: none;
      display: block;
      position:relative;
      text-align: left;
      font-size: 1.3em;
    }
    #top{
        grid-column: unset;
        grid-row: unset;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(-1em, 0em);
        z-index: 3;
    }
    .flex_nav.responsive ul{
        background-color: #434D6E;
        text-align: left;
        width: 100%;
        color: white;
        margin-right: 2em;
    }

    .flex_nav.responsive ul li {
        padding: 0.2em;
        text-align: left;
        margin-right: 2em;
        padding-left: 2em;
    }
    
    .flex_nav.responsive a:link { color: white; }
    .flex_nav.responsive a:visited { color: rgb(29, 173, 10); }
    .flex_nav.responsive a:hover { 
        color: rgba(136, 10, 161, 0.774); 
        text-shadow: 1px 1px 1px white;
    }
    .flex_nav.responsive a:active { color: white; }

    #intro{
        grid-column: 1/3;
    }
}