:root{
  box-sizing: border-box;
}

*, ::before, ::after{
  box-sizing: inherit;
}

body {
    background-color: rgb(67, 67, 80);
    /* background-image: url('../images/ELbackground.gif'); */
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
}

h1 {
  clear: both;
  color:seashell;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  padding-top: 2em;
  font-size: 2.5em;
  margin-top: 2em;
}

/* Add a black background color to the top navigation */
.mainNav, #tryThis {
    background-color: rgb(5, 1, 31);
    overflow: hidden;
    float: right;
}

#tryThis {
  width: 100%;
}

.mainNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0.9em 1em;
    text-decoration: none;
    font-size: 1.1em;
}

.mainNav a:hover {
    background-color: #ddd;
    color: black;
}

.mainNav a.active {
    background-color: white;
    color: black;
}

.mainNav .hamIcon {
    display: none;
}

#headerSection {
    clear: both;
    display: block;
    background-image: url('https://live.staticflickr.com/7339/12489696063_bce1b20efa_b.jpg');
    /* background-image: url('../images/road-background.jpg'); */
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.projectGroup img {
  width: 40%;
  border-radius: 50%;
  opacity: 0.8;
}

.projectGroup img:hover {
  border-radius: 10%;
  opacity: 1;

}

/* Responsive */
/* screens less than 600 pixels wide */
@media screen and (max-width: 600px) {
    .mainNav a {display: none;}
    .mainNav a.hamIcon {
      float: right;
      display: block;
    }



    .leftSide {
      float: left;
    }

    .rightSide {
      float: right;
    }

    .projectSummary {
      width: 60%;
      background-color: rgb(27, 27, 27);
      color: rgb(248,244,244);
      margin-top: 0.5em;
    }

    .projectGroup img {
      width: 40%;
      border-radius: 50%;
      opacity: 0.8;
    }

    .projectGroup img:hover {
      border-radius: 10%;
      opacity: 1;
    
    }

} /* end of media */

  /* Animation on header */
  #headerSection h2 {
    margin-bottom: 0;
    padding-top: 6em;
    padding-bottom: 0;
  }

  #headerSection h3 {
    margin-top: 0;
    padding-top: 0;
  }

  .nameLine {
    position: relative;
    font-weight: 900;
    font-size: 4em;
    color: white;
    padding-top: 5em;
    margin: 0;
    text-align:center;
  }

  .nameLine .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0;
    padding-right: 0.05em;
    padding-bottom: 0;
    overflow: hidden;
  }

  .nameLine .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }
 
  .nameLine .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(13, 2, 77);;
    transform-origin: 0 0;
  }
  
  .nameLine .line1 { bottom: 0; }

  .positionLine {
    font-weight: 900;
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    padding-top: 0;
  }
  
  .positionLine .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .positionLine .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

/* Contact */

#sendMsg:hover, #contactOptions a:hover{
  font-size: 2.1em;
  color:rgb(13, 2, 77);
  text-shadow: 2px 2px 2px rgb(46, 150, 248);
}

#formH{
  font-size: 1.5em;
  color:rgb(13, 2, 77);
  text-align: center;
}

#contactOptions {
  clear: both;
  width: 60;
  padding: 2em;
  margin-top: 2em;
  border-width: 1px;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#contactOptions h3 {
  font-size: 2em;
  text-align: center;
}

#contactOptions a, #myEmail i {
  font-size: 1.5em;
  color: rgb(13, 2, 77);
  text-align: center;
}

input {
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid grey;
}

/* The Modal (background) */
.mainModal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.mainModal-content {
  background-color: rgb(217, 217, 248);
  margin: 2% auto; 
  padding: 1em;
  border: 1px solid #888;
  width: 100%; 
}

.mainClose {
  color: #aaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
  z-index: 50;
}

.mainClose:hover,
.mainClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #contactMain {
    background-image: url('../images/stars-1128772_1280.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  #contactMain img {
    opacity: 0.8;
  }
  
  .contactSection section {
    opacity: reset;
    
  }
  
  /* Portfolio */

  .flex-container {
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: column;
    padding: 2em;
  }

  .flex-container > .projectGroup {
    clear:both;
    margin: 10px;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 2em;
    height: 100%;
  }

  .leftSide {
    float: left;
  }

  .rightSide {
    float: right;
  }

  .projectSummary {
    width: 58%;
    background-color: rgba(248, 244, 244, 0.726);
    padding-left: 0.5em;
    background-color: rgb(27, 27, 27);
    color: rgb(248,244,244);
    font-size: 1em;
    font-family: initial;
    font-weight: normal;
    margin-top: 0.5em;
    border-radius: 2em;
  }

  .projectSummary strong {
    font-size: 1.1em;
    color:darksalmon;
  }

  .projectGroup img {
    width: 40%;
    margin-right: 0.5em;
    padding: 0;
  }

  .portfolioSection[data-scroll],
  .contactSection[data-scroll],
  .aboutSection[data-scroll],
  .projectGroup[data-scroll],
  .aboutGroup[data-scroll] {
    opacity: 0;
    transition: all 1s;
  }

  .projectGroup[data-scroll="in"], 
  .portfolioSection[data-scroll="in"],
  .contactSection[data-scroll="in"],
  .aboutGroup[data-scroll="in"] {
    opacity: 1;
    transform: translateY(-80px);
  }

  .aboutSection[data-scroll="in"] {
    opacity: 1;
    transform: translateY(-160px);
  }

  .portfolioSection {
    /* background-color: whitesmoke; */
    background-image: url("../images/code2.png");
    background-size: contain;
    background-repeat: repeat-y;
    width: 100%;    
  }

  
.portfolioSection h1 {
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 3.5em;
}

#about {
  /* background-image: url('../images/am_back.jpg'); */
  background-image:url('../images/road-background.jpg');
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about h1 {
  color:  rgb(5, 1, 31);
  font-size: 3.5em;
  padding-top: 0;
}

#portList h1 {
  color: rgb(248,244,244);
}

.aboutGroup[data-scroll="in"] {
  opacity: 1;
  transform: translateY(-40px);
}

.aboutGroup {
  width: 95%;
  height: 80vh;
  background-color: rgba(0,0,0,0.4);
  border-radius: 2em;
  margin-top: 2em;
  color: aliceblue;
}

.aboutGroup img {
  float: left;
  width: 20%;
  border-radius: 2em;
  margin-left: 5em;
  margin-right: 2em;
}

.myImg {
  margin-top: 2em;
  font-size: 1.5em;
}

#mainIdx {
  height: 100vh;
}

#returnToTop {
  position:fixed;
  bottom:0;
  right: 2em;
  font-size: 0.8em;
  display: none;
}

#returnToTop a {
  text-decoration: none;
  color: black;
}

#returnToTop span {
  position: fixed;
  bottom: 0.6em;
  right: 2.7em;
  font-size: 1em;
  color: antiquewhite;
}

@media screen and (max-width: 600px) {
  .mainNav.responsive {position: relative;}
  .mainNav.responsive a.hamIcon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .mainNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .iconImg {
    height: 15%;
    width: 15%;
  }

  .nameLine {
    font-size: 2.5em;
    padding-top: 5em;
  }

 #headerSection h2 {
    margin-bottom: 0;
  }

  .positionLine {
    font-size: 2em;
    padding-left: 0.8em;

  }

  .flex-container {
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .flex-container > .projectGroup {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.2em;
    /* padding-bottom: 1em; */
  }

  .leftSide,
  .rightSide {
    clear: both;
  }

  .projectSummary {
    width: 100%;
    background-color: rgba(248, 244, 244, 0.726);
    background-color: rgb(27, 27, 27);
    color: rgb(248,244,244);
    margin-top: 0.5em;
  }

  .projectGroup img {
    width: 100%;
    image-rendering: auto;
  }

  #portList h1 {
    margin: 0;
    padding-bottom: 0.9em;
    padding-top: 0.5em;
    font-size: 2.5em;
  }

  .aboutGroup {
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    border-radius: 2em;
    font-size: 1.5em;
    margin-top: 2em;
    color: aliceblue;
    font-weight: normal;
  }

  .aboutGroup img {
    float: left;
    width: 50%;
    border-radius: 2em;
    margin-left: .5em;
    margin-right: 1em;
  }

  #about h1 {
    padding-top: 0;
    font-size: 2.5em;
    margin-top: 0.5em;
  }

  .projectGroup[data-scroll="in"], 
  .portfolioSection[data-scroll="in"],
  .contactSection[data-scroll="in"],
  .aboutGroup[data-scroll="in"] {
    opacity: 1;
    transform: translateY(-40px);
  }
} /* media max-width: 600px */

@media screen and (min-width: 601px) {
  .iconImg {
    height: 5%;
    width: 5%;
  }

  /* Portfolio */

  .flex-container {
    display: flex;
    width: 90%;
    margin: 5%;
    flex-direction: column;
    padding: 2em;
  }

  .flex-container > .projectGroup {
    clear:both;
    /* background-color: rgba(250, 250, 250, 0.5); */
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 2em;
  }

} /* media min-width: 601px */

